<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet 1-38</title>
    <script src="https://unpkg.com/vue@3"></script>
    <style>
        img {
            float: left;
            margin-right: 1rem;
        }
        .personne {
            clear: left;
            padding: 1rem;
        }
        input[type="checkbox"], select {
            margin-right: 1rem;
        }
        .misEnForme {
            background: #e0ffff;
            font-family: georgia;
            font-size: 1.2rem;
            margin: 1rem;
        }
    </style>
</head>
<body>
    <div id="app">
        <fieldset>
            <legend>Filtre sur le nom</legend>
            <input type="text" v-model="filtreNom">
        </fieldset>
        <fieldset>
            <legend>Options</legend>
            Homme <input type="checkbox" v-model="homme" checked>
            Femme <input type="checkbox" v-model="femme" checked>
            Téléphone <input type="checkbox" v-model="afficherTel">
            Email <input type="checkbox" v-model="afficherEmail">
            Photo
            <select v-model="taillePhoto">
                <option value="thumbnail">Petit</option>
                <option value="medium" selected>Moyen</option>
                <option value="large">Grand</option>
            </select>
            Mise en forme <input type="checkbox" v-model="miseEnForme">
        </fieldset>
        <div class="personne" v-for="(p, index) in filteredPersonnes" :key="index" :class="{ misEnForme: miseEnForme }">
            <div>
                <img :src="p.picture[taillePhoto]">
                {{ p.name.title }} {{ p.name.first }} {{ p.name.last }}<br>
                <div>{{ p.location.country }}</div>
                <div v-if="afficherTel">
                    Téléphone: {{ p.phone }}
                </div>
                <div v-if="afficherEmail">
                    Email: {{ p.email }}
                </div>
            </div>
        </div>
    </div>

    <script>
        const app = Vue.createApp({
            data() {
                return {
                    personnes: [],
                    filtreNom: '',
                    homme: true,
                    femme: true,
                    afficherTel: false,
                    afficherEmail: false,
                    taillePhoto: 'medium',
                    miseEnForme: false
                };
            },
            computed: {
                filteredPersonnes() {
                    return this.personnes.filter(p => 
                        ((this.homme && p.gender === 'male') || (this.femme && p.gender === 'female')) &&
                        (p.name.last.toLowerCase().includes(this.filtreNom.toLowerCase()) || this.filtreNom === '')
                    );
                }
            },
            mounted() {
                fetch('./personnes.json')
                    .then(response => response.json())
                    .then(data => {
                        this.personnes = data;
                    });
            }
        });
        app.mount('#app');
    </script>
</body>
</html>
